body {
	background-color: #0f171e;
}

h1 {
	color: whitesmoke;
}

.recommended {
	width: 95%;
	margin: 20px 30px;
	/* position: relative;
	z-index: 10; */
	/* top: -100px; */
}
.recommended1 {
	width: 96%;
	margin: 20px 30px;
	/* position: relative; */
	/* z-index: 50; */
	top: -250px;
}

.recommendedHeading {
	font-size: 18px;
	line-height: 22px;
	color: #ffffff;
	margin-bottom: 10px;
}

.recommendedHeading {
	cursor: pointer;
}
