.moviesDiv {
	width: 250px;
	/* height:340px; */
	/* min-height: 200px; */
	/* position: ; */
	/* top: 100px; */
	margin: auto;
}

.movies {
	height: 146px;
	width: 250px;
	border-radius: 0px;
	/* position: relative; */
}

.movies > img {
	width: 100%;
	height: 146px;
}

.movies > video {
	width: 100%;
	height: 146px;
}

.movieDetails {
	width: 280px;
	height: 250px;
	background: #1a242f;
	padding-top: 18px;
	font-family: Amazon Ember;
	position: absolute;
	display: none;
	margin-top: 50px;
	z-index: 100px;
}

.howerEffect:hover + .movieDetails {
	display: block;
}

.movieDetails:hover {
	display: block;
}
.Div1 {
	width: 100%;
	padding-left: 18px;
	display: flex;
	align-items: center;
}
.Div1 > img {
	height: 24px;
	width: 24px;
}

.Div1 > span:nth-child(2) {
	font-family: Amazon Ember;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.01em;
	margin-left: 13.98px;
	color: #ffffff;
}

.Div1 > img:nth-child(3) {
	width: 16px;
	height: 16px;
	margin-left: 118px;
}
.Div1 > img:nth-child(4) {
	width: 20px;
	height: 20px;
	margin-left: 14px;
}

.movieDetails > p:nth-child(2) {
	font-style: normal;
	font-weight: 500;
	font-size: 14.2443px;
	line-height: 17px;
	letter-spacing: 0.01em;
	color: #8096a3;
	margin-top: 15px;
	margin-left: 16px;
}
.Div2 {
	margin-top: 9px;
}

.Div2 > span:nth-child(1) {
	font-family: Amazon Ember;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	margin-left: 16px;
	color: #ffffff;
}
.Div2 > img:nth-child(2) {
	margin-left: 160px;
	margin-top: -15px;
}

.movieDetails > p:nth-child(4) {
	font-family: Amazon Ember;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	letter-spacing: 0.01em;
	margin-left: 16px;
	margin-top: 14px;
	margin-right: 16px;
	color: #ffffff;
}

.Div3 {
	margin-top: 16px;
	margin-left: 16px;
	display: flex;
}
.Div3 > span {
	font-family: Amazon Ember;
	font-style: normal;
	font-weight: normal;
	font-size: 11.8702px;
	line-height: 14px;
	align-items: center;
	letter-spacing: 0.01em;
	color: #ffffff;
	margin-right: 8px;
}
.Div3 > div {
	display: inline;
	margin-left: 28px;
}

.subtitle {
	margin-left: 20px;
	/* display: inline; */
}
