
.moviesDiv{
    width: 50.24vh;
    height:403.59px;
    /* border: 1px solid red; */
    margin: auto;
}

.movies{
height: 173.31px;
width: 50.24vh;
border-radius: 0px;
/* border: 1px solid red; */
}
.movies>img{
  width: 100%;
  height: 173.31px;
}

.movieDetails{
    width: 50.24vh;
    height: 230.28px;
    background: #1A242F;
    padding-top: 29.03px;
    font-family: Amazon Ember;
    display: none;
}   

.movies:hover + .movieDetails{
    display: block;
}
.Div1{
    width: 100%;
    padding-left: 18px;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
}
.Div1>img{
    height: 24px;
    width: 24px;
}

.Div1>span:nth-child(2){
    font-family: Amazon Ember;
font-style: normal;
font-weight: 500;
font-size: 16.6183px;
line-height: 20px;
letter-spacing: 0.01em;
color: #FFFFFF;
margin-left: 13.98px;

}

.Div1>img:nth-child(3){
  width: 16px;
  height: 16px;
  margin-left: 128px;
  
}
.Div1>img:nth-child(4){
  width: 20px;
  height: 20px;
  margin-left: 19px;
  
}

.movieDetails>p{
    font-style: normal;
    font-weight: 500;
    font-size: 14.2443px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #8096A3;
    margin-top: 22.73px;
    margin-left: 19px;
}
.Div2{
    /* border: 1px solid red; */
    margin-top: 14.02px;
}

.Div2>span:nth-child(1){
   font-style: normal;
   font-weight: bold;
   font-size: 16.6183px;
   line-height: 20px;
   letter-spacing: 0.01em;
   color: #FFFFFF;
   margin-left: 18.99px;
}
.Div2>img:nth-child(2){
    /* width: 45.22px;
    height: 14.24px; */
    margin-left: 107px;
}
.movieDetails>p:nth-child(4){
    font-family: Amazon Ember;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 12px;
letter-spacing: 0.01em;
color: #FFFFFF;

}

.Div3{
   /* border: 1px solid red; */
   margin-top: 18px;
   display: flex;
   justify-content: space-between;
   margin-left: 18.99px;
}
.Div3>span{
    font-family: Amazon Ember;
font-style: normal;
font-weight: normal;
font-size: 11.8702px;
line-height: 14px;
align-items: center;
letter-spacing: 0.01em;
color: #FFFFFF;
}
.Div3>div{
    flex-basis: 105px;
   /* border: 1px solid red; */
   padding-left: 66.8px;
}